table {
  width: 100%;
}

@media (min-width: 700px) {
  .button-add {
    visibility: hidden;
  }
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 80% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  //background: yellow;
}


th.mat-header-cell,
td.mat-cell {
  text-align: center !important;
}


/* Elemento | http://localhost:4200/ */


.mat-expansion-panel-header {
//background: green;
font-size: 0.8rem;
padding: 20px;
width: 100%;
border-radius: 10px;

}

.mat-expansion-panel-header-description{
 // background: green;
  max-width: 32%;
}

.mat-cell {
  padding-right: 0px !important;

}

.button-add {
  position: fixed;
  bottom:  10px;
  right: 10px;
}

.button-edit {
  background: rgb(42, 177, 42);
}

.mat-expansion-panel-header-description {
  //background: red;
  margin: 0em;

}


