<div class="card">
  <p-table responsiveLayout="scroll" [value]="engines">
      <ng-template pTemplate="caption">
          Scroll
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Tag </th>
              <th>Descrição</th>
              <th>Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-engines let-columns="columns">
          <tr>
              <td>{{engines.tag}}</td>
              <td>{{engines.description}}</td>
              <td>
                <button pButton type="button" label="Detail" (click)="editButton(engines.id)"></button>
            </td>
          </tr>
      </ng-template>
  </p-table>
</div>


<a mat-fab color="warn" (click)="createButton()" class="button-add">
  <mat-icon>add</mat-icon>
</a>










<!--
<table mat-table [dataSource]="engines" class="mat-elevation-Z8">

  <ng-container matColumnDef="tag">
    <th mat-header-cell class="column" *matHeaderCellDef> Tag </th>
    <td mat-cell *matCellDef="let element"> {{element.tag}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.description}}
    </td>
  </ng-container>

  <ng-container matColumnDef="current">
    <th mat-header-cell *matHeaderCellDef> Corrente </th>
    <td mat-cell *matCellDef="let element"> {{element.current}} </td>
  </ng-container>

  <ng-container matColumnDef="power">
    <th mat-header-cell *matHeaderCellDef> Potência </th>
    <td mat-cell *matCellDef="let element"> {{element.power}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
      <a mat-mini-fab class="button-edit" routerLink="/engines/engines-update/{{element.id}}">
        <i class="material-icons">
          edit
        </i>
      </a>

      <a mat-mini-fab class="button-delete" routerLink="/engines/engines-delete/{{element.id}}">
        <i class="material-icons">
          delete
        </i>
      </a>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->