table {
  width: 100%;
}

@media (min-width: 700px) {
  a {
    visibility: hidden;
  }
}

.button-add {
  position: fixed;
  bottom:  10px;
  right: 10px;
  z-index: 2;
  background: rgb(243, 67, 96);
  color: black;
}

.button-edit {
  background: rgb(93, 200, 250);
  width: 40px;
}

.button-delete {
  background: rgb(252, 120, 120);
}
