<div class="card">
  <p-table responsiveLayout="scroll" [value]="part">
      <ng-template pTemplate="caption">
          Scroll
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Código </th>
              <th>Descrição</th>
              <th>Locação</th>
              <th>Área</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-part let-columns="columns">
          <tr (click)="editButton(part.id)">
              <td>{{part.code}}</td>
              <td>{{part.description}}</td>
              <td>{{part.location}}</td>
              <td>{{part.area}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>

<a mat-fab color="warn" (click)="createButton()" class="button-add">
  <mat-icon>add</mat-icon>
</a>
